<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Inicio - WoW Auth</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>

<body>
    <div class="fondo-movimiento"></div>

    <div class="dragon"></div>
    
    <div class="castillo-overlay"></div>

    <header>
        <h1>WOW</h1>
    </header>

    <main class="main-index">
        <section class="card index-card">
            <a href="/login" class="btn btn-green">Iniciar sesión</a>
            <a href="/register" class="btn btn-red">Registrarse</a>
        </section>
    </main>

    <footer>
        <p>Reino de Azeroth · Soporte: soporte@wowauth.fake · 2026</p>
    </footer>

</body>

</html>